{% extends 'index.html' %}

{% block content%}
<div class="container px-5">
    <form enctype="multipart/form-data" method="post">
        {% if business_form %}
            {%for field in business_form%}
                {% if field.name != 'submit' and field.name != 'csrf_token' %}
                    {{field.label if field.label else None}}
                {% endif %}
                {{field if field else None}}
            {%endfor%}
        {%endif%}
    </form>
</div>
{% endblock %}

{% block addl_scripts%}
<script type="text/javascript">
     $(document).ready(function () {
         $('.user').attr('style', 'font-weight: bold; cursor: pointer');

     });
</script>
{%endblock%}
