<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block title %}<title>Timely</title> {% endblock %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="https://live.staticflickr.com/65535/51638677196_6b09258823_o.png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={{url_for('static',filename='css/styles.css')}} rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    </head>
    {% block addl_styles %}
    {% endblock %}
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-light bg-body">
                <div class="container px-5">
                    <a class="navbar-brand fw-bolder" style="color: rgb(0, 11, 76); font-size: 2rem; font-weight: 400;" href={{ url_for('home') }}>
                    <img src="https://live.staticflickr.com/65535/51638677196_6b09258823_o.png" width="50" height="50"
                        class="d-inline-block align" alt="">
                    timely
                </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link home" href={{url_for('home')}}>Home</a></li>
                            <li class="nav-item"><a class="nav-link about" href="about.html">About</a></li>
                            <!-- updated some logic-->
                            {% if current_user.is_authenticated %}
                                {% if current_user.business_type == 1 %}
                                    <li class="nav-item contractor_dash"><a class="nav-link" href={{ url_for('dashboard') }}>Contractor Dashboard</a></li>
                                {% elif current_user.business_type == 2 %}
                                 <li class="nav-item"><a class="nav-link customer_dash" href={{ url_for('customer_dashboard') }}>Customer Dashboard</a></li>
                                {% endif %}
                                <div class="nav-item dropdown">
                                    <li class="nav-link  user btn btn-dark btn px-4 me-sm-3 text-white" style="color:white;" id="" data-bs-toggle="dropdown">
                                      <i class="bi bi-person-fill"></i>&nbsp;{{current_user.first_name}}&nbsp;<i class="bi bi-chevron-down"></i>
                                    </li>
                                    <div  style="margin-left:4px;" class="dropdown-menu">
                                        <a class="dropdown-item" href={{url_for('logout')}}>Logout</a>
                                        {% if current_user.business_type == 1 %}
                                            <a class="dropdown-item" href={{url_for('user_profile', id=current_user.id)}}>Profile</a>
                                        {% elif current_user.business_type == 2 %}
                                            <a class="dropdown-item" href={{url_for('business_profile', id=current_user.id)}}>Profile</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                 <li class="nav-item"><a class="nav-link" href={{ url_for('login') }}>My Dashboard</a></li>
                                 <li style="cursor: pointer; color:white;" class="nav-item"><a class=" btn btn-dark btn px-4 me-sm-3" href={{ url_for('login') }}>Login</a></li>
                            {% endif %}


                        </ul>
                    </div>
                </div>
            </nav>
            {% endblock %}
            {% block content %}
            <!-- Header-->
            <header class="bg-body py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-top justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="mx-5 text-center text-xl-start">
                            <p class="display-7 text-black-50 ">Find your perfect task match</p>
                            <h1 class="fw-bolder mb-4"
                                style="color: rgb(0, 11, 76); font-size: 4rem; font-weight: 400;">Creating<br>the Best
                                Day<br>ever.</h1>
                            <!-- <p class="lead fw-normal text-white-50 mb-4">Quickly design and customize responsive
                                mobile-first sites with Bootstrap, the world’s most popular front-end open source
                                toolkit!</p> -->
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href={{ url_for('login') }}>Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block"
                        style="border-left: 1px solid rgb(235, 221, 207); padding-left: 4em;">
                        <div class="row">
                            <div class="col-lg-12">
                                <img class="img-fluid rounded-3 my-1" src="https://i.ibb.co/cyHRZRJ/hour-glass.png"
                                    alt="..." width="30%" />
                            </div>
                            <div class="col-lg-12">
                                <p class="display-7 text-muted ">Life is an Event.<br>Plan it with timely</p>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <h1 style="color: rgb(0, 11, 76); font-size: 3rem; font-weight: 600;">20K+</h1>
                                        <p class="display-7 text-muted">Revenue Earned</p>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h2 style="color: rgb(0, 11, 76); font-size: 3rem; font-weight: 600;">260</h2>
                                        <p class="display-7 text-muted">Users</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
            <!-- Features section-->
            <section class="py-0">
            <div class="container px-1 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <!-- <div class="text-center">
                            <h2 class="fw-bolder">From our blog</h2>
                            <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                        </div> -->
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-lg-3 mb-5">
                        <div class="card h-70 shadow-lg border-0 bg-gradient1" style="border-radius: 25px;">
                            <img class="card-img-top" src="https://i.ibb.co/8YKzB0X/secure.png" alt="..."
                                style="width: 20%; margin:1em 2em 0;" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!">
                                    <h5 class="fs-5 fw-bold text-white">Secure Transaction</h5>
                                </a>
                                <p class="text-white-50">Transactions complies PCI</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 mb-5">
                        <div class="card h-70 shadow-lg border-0 bg-gradient2 ">
                            <img class="card-img-top" src="https://i.ibb.co/VNSRGjz/ux.png" alt="..."
                                style="width: 20%; margin:1em 2em 0;" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!">
                                    <h5 class="fs-5 fw-bold text-white">User Experience</h5>
                                </a>
                                <p class="text-white-50">We focus on User experience</p>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 mb-5">
                        <div class="card h-70 shadow-lg border-0 bg-gradient3">
                            <img class="card-img-top" src="https://i.ibb.co/cD11CfF/local.png" alt="..."
                                style="width: 30%; margin:1em 2em 0;" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!">
                                    <h5 class="fs-5 fw-bold text-white">Local Businesses</h5>
                                </a>
                                <p class="text-white-50">We support local businesses</p>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 mb-5">
                        <div class="card h-70 shadow-lg border-0 bg-gradient4 ">
                            <img class="card-img-top" src="https://i.ibb.co/WvGwCYm/grow.png" alt="..."
                                style="width: 20%; margin:1em 2em 0;" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!">
                                    <h5 class="fs-5 fw-bold text-white">Growing</h5>
                                </a>
                                <p class="text-white-50">We are a local start up.</p>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- trial  -->

                <!-- trial end -->


            </div>
        </section>

            <!-- Testimonial section-->
            <!-- Features section-->
        <section class="py-5" id="features" style="background-color: rgb(255, 249, 245);">
            <div class="container px-5 my-5" style="">
                <div class="row gx-5">

                    <div class="col-lg-6">

                        <img src="https://i.ibb.co/r717xzp/dash.png" class="rounded img-fluid shadow-lg"
                            style="border-radius: 25px;" alt="..." width=600px;>
                    </div>
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="fw-bolder mb-4" style="color: rgb(0, 11, 76); font-size: 4rem; font-weight: 400;">A
                            better dashboard to plan your events.</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial section-->
        <div class="py-5 bg-body">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"Working with Timely has saved me tons
                                of management time when building new projects! Starting with a Timely just
                                makes things easier and faster!"</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d"
                                    alt="..." />
                                <div class="fw-bold">
                                    Tim Cena
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    Student
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
            <!-- Testimonial section end-->
        {% endblock %}

        {% block footer %}
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Timely 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}


    </body>
    <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static', filename='js/scripts.js') }}"></script>
        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    {% block addl_scripts%}
        <script type="text/javascript">
            $(document).ready(function(){
                $('.home').attr('style','font-weight: bold')
            })
        </script>
    {% endblock %}
</html>
