{% extends 'index.html' %}

{% block content%}
<form enctype="multipart/form-data" method="post">
    {% if contractor_form %}
        {%for field in contractor_form%}
            {% if field.name != 'submit' and field.name != 'csrf_token' %}
                {{field.label if field.label else None}}
            {% endif %}
            {{field if field else None}}
        {%endfor%}
    {%endif%}
</form>
{% endblock %}

{% block addl_scripts%}
<script type="text/javascript">
     $(document).ready(function () {
         $('.user').attr('style', 'font-weight: bold; cursor: pointer');

     });
</script>
{%endblock%}
