{% extends 'index.html' %}

{% block content%}

<!--start-->
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <!-- Image and text -->
            <!--                    <nav class="navbar navbar-light bg-body">-->
            <!--                        <a class="navbar-brand" href={{ url_for('home') }} style="font-size: 3em; ">-->
            <!--                            <img src="https://live.staticflickr.com/65535/51638677196_6b09258823_o.png" width="70"-->
            <!--                                height="70" class="d-inline-block align" alt="">-->
            <!--                            timely-->
            <!--                        </a>-->
            <!--                    </nav>-->
        </div>

        <ul class="list-unstyled components">
            <p></p>

            <li class="active">
                <a href="#"><i class="bi bi-house-door-fill"></i></i>&nbsp;&nbsp;Overview</a>
            </li>
            <li>
                <a href="#"><i class="bi bi-trophy-fill"></i></i>&nbsp;&nbsp;Projects</a>
            </li>
            <li>
                <a href="#"><i class="bi bi-calendar2-week-fill"></i></i>&nbsp;&nbsp;Schedules</a>
            </li>
            <li>
                <a href="#"><i class="bi bi-bar-chart-fill"></i></i>&nbsp;&nbsp;Reports</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href={{url_for('user_profile', id=current_user.id)}} class="download"><i
                        class="bi bi-gear-fill"></i>&nbsp;&nbsp;Profile Settings</a>
            </li>
            <li>
                <a href={{url_for('logout')}} class="article btn-primary"><i
                        class="bi bi-box-arrow-right"></i>&nbsp;&nbsp;Log Out</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" style="width: 100%; background-image: url('')  ;
  background-size: 105% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-x: 0%;
  background-position-y: 0%;">

        <div class="container overflow-auto " style="height: 90vh; ">
            <button style="margin-left:-3em; position: absolute;" type="button" id="sidebarCollapse"
                    class="btn btn-info">
                <span class="collapse-left"><i class=""></i></span>
                <i class="bi bi-arrow-bar-left"></i>
            </button>
            <!--                    form start-->
            <div class="row justify-content-center mt-5 ">
                <div class="col-md-9">
                    <span class="anchor" id="formUserEdit"></span>
                    <!-- form user info -->
                    <div style="padding: 2em; background-color: rgba(255, 255, 255, 0.77);
                      -webkit-backdrop-filter: blur(10px);
                      backdrop-filter: blur(10px); " class="card card-outline-secondary mb-5">
                        <div style=" margin-bottom: 1em;">
                            <h4>User Information</h4>
                            <p class="text-muted">Enter the required information below to register. You can change it
                                anytime you want.</p>

                        </div>
<!--test start-->
                        <div class="">
     <form enctype="multipart/form-data" method="post">
         {% if contractor_form %}
             {%for field in contractor_form%}
                 {% if field.name == 'profile_picture' %}
                     {{field.label if field.label else None}}
                              <div class=" col-xs-1 text-center">
                                    <img src="{{url_for('serve_file',filename=contractor_form.profile_picture.data) if contractor_form.profile_picture.data else contractor_form.default}}"
                                         style="width:75%; padding: 2em; border-radius: 12px;">
                                     {{field if field else None}}
                                </div>

                 {% endif %}

             {%endfor%}
         {%endif%}
<!--                        test-end-->

                            <div class="row mb-5 mt-5 ">

                                <div class=" col-md-12">
                                    <label>Email address</label>
                                    {{contractor_form.email(class_='form-control')}}
                                </div>
                            </div>
                            <div class="row">

                                <div class="row mb-5">
                                    <div class="  col-md-6">
                                        <label>First Name</label>
                                        {{contractor_form.first_name(class_='form-control')}}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name</label>
                                        {{contractor_form.last_name(class_='form-control')}}
                                    </div>

                                </div>


                            </div>
                            <div class="row mb-5">
                                <div class=" form-group col-md-4">
                                    <label>City</label>
                                    {{contractor_form.city(class_='form-control')}}
                                </div>
                                <div class="col-md-3">
                                    <label>State</label>
                                    {{contractor_form.state(class_='form-control')}}
                                </div>
                                <div class="col-md-5">
                                    <label>Phone Number</label>
                                    {{contractor_form.phone(class_='form-control')}}
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class=" form-group col-md-6">
                                    <label>Salary</label>
                                    {{contractor_form.salary(class_='form-control')}}
                                </div>
                                <div class="col-md-6">
                                    <label>Employment Type</label>
                                    {{contractor_form.employment_type(class_='form-control')}}
                                </div>

                            </div>
                            <div class="row mb-5">
                                <div class=" form-group col-md-4">
                                    <label>Skill Description</label>
                                    {{contractor_form.skills(class_='form-control')}}
                                </div>
                                <div class="col-md-4">
                                    <label>Experiences</label>
                                    {{contractor_form.experience(class_='form-control')}}
                                </div>
                                <div class="col-md-4">
                                    <label>User Description</label>
                                    {{contractor_form.user_description(class_='form-control')}}
                                </div>

                            </div>
                            <div class="row mb-5">
                                <div class=" form-group col-md-4">
                                    <label>Website Link</label>
                                    {{contractor_form.website_link(class_='form-control')}}
                                </div>
                                <div class="col-md-4">
                                    <label>Facebook Link</label>
                                    {{contractor_form.facebook_link(class_='form-control')}}
                                </div>
                                <div class="col-md-4">
                                    <label>Twitter Link</label>
                                    {{contractor_form.twitter_link(class_='form-control')}}
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-1 text-center ">
                                    <!--                                    <button type="submit" class="btn btn-primary">Save Changes</button>-->
                                    <div class="d-grid mb-5 bg-body btn-primary btn bg-primary"
                                         style="width: 50%; margin-left: auto; margin-right: auto;">
                                        <!-- Checkbox -->
                                        {{ contractor_form.submit }}
                                        {{ contractor_form.hidden_tag() }}

                                    </div>
                                </div>

                            </div>


                            <!--        <div class="form-group col-md-6">-->
                            <!--            {% if contractor_form %}-->
                            <!--            {%for field in contractor_form%}-->
                            <!--            {% if field.name != 'submit' and field.name != 'csrf_token' %}-->
                            <!--            {{field.label if field.label else None}}-->
                            <!--            {% endif %}-->

                            <!--            {{field if field else None}}-->
                            <!--            {%endfor%}-->
                            <!--            {%endif%}-->
                            <!--        </div>-->

                        </form>
                    </div>
                </div>
            </div>
            <!--                    form end-->
        </div>
    </div>
</div>

<!--end-->

{% endblock %}

{% block addl_scripts%}
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('')
        });
        $('.customer_dash').attr('style', 'font-weight: bold');
    });
    $(document).ready(function () {
        $('.user').attr('style', 'font-weight: bold; cursor: pointer');

    });
</script>
{%endblock%}