{% extends 'index.html' %}
<style>
    .register{
        background-color: #dcdcdc;
    }
</style>
{% block content %}
<section class="vh-100" style="background-color: #FFFFFF;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center" style="background-color: #dcdcdc">

            <h3 class="mb-5">Register</h3>
            <form class="register" enctype="multipart/form-data" method="post">

                  <div class="form-outline mb-4">
                      {{ form.first_name() }}
                  </div>
                  <div class="form-outline mb-4">
                      {{form.last_name()}}
                  </div>
                  <div class="form-outline mb-4">
                      {{ form.business_name() }}
                  </div>
                  <div class="form-outline mb-4">
                      {{ form.email() }}
                  </div>
                  <div class="form-outline mb-4">
                      {{form.password()}}
                  </div>
                  <div class="form-outline mb-4">
                      {{form.business_type}}
                      <label class="form-label" for="business_type">Select The Type of Business You Operate.</label>
                  </div>
                {{form.submit()}}

                {{ form.hidden_tag()}}
          </form>
              {% if form.errors: %}
                    {% for field, errors in form.errors.items() %}
                        {{ ','.join(errors) }}
                    {% endfor %}
              {% endif %}
            <hr class="my-4">'
            <label class="form-label"><a href={{ url_for('login') }}>Already Have An Account? Login In Here</a></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}