{% extends 'index.html' %}

{% block content %}
    <div class="container mb-5">
        <div class="row" style="justify-content: center">
            <div class="col text-center">
                <img alt="unauthorized image"
                     height="200"
                     width="200"
                     src="https://cdn.pixabay.com/photo/2013/07/12/13/50/prohibited-147408_960_720.png">
                <h5 class="mt-3 mb-3">You are not authorized to view this page.</h5>
                <a class="btn btn-primary" href="/">Go home</a>
            </div>
        </div>
    </div>
{% endblock %}